@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local(''), url(/assets/fonts/metropolis/Metropolis-Light.woff2) format('woff2'),
    url(/assets/fonts/metropolis/Metropolis-Light.woff) format('woff');
}

@font-face {
  font-family: Metropolis Bold;
  font-style: bold;
  font-display: swap;
  font-weight: 600;
  src: local(''), url(/assets/fonts/metropolis/Metropolis-Bold.woff2) format('woff2'),
      url(/assets/fonts/metropolis/Metropolis-Bold.woff) format('woff');
}